.header {
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
}

.toggle {
  display: none;
}

.logo {
  mask: url("../../assets/insure-landing-page-master/images/logo.svg") left no-repeat;
  background-color: hsl(256, 26%, 20%);
  height: 1.2rem;
  width: 8rem;
}

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;

  li {
    color: hsl(273, 4%, 51%);
    a {
      font: inherit;
      color: currentColor;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.25s;

      &:hover,
      &:focus,
      &:active {
        color: darken(hsl(273, 4%, 51%), 25%);
      }
    }
  }

  .cta {
    a {
      color: hsl(256, 26%, 20%);
      padding: 0.5rem 1.5rem;
      border: 2px solid hsl(256, 26%, 20%);

      &:hover {
        background-color: hsl(256, 26%, 20%);
        color: hsl(0, 0%, 98%);
      }
    }
  }
}

@media (max-width: 56.25em) {
  .header {
    padding: 1.5rem 2.5rem;
  }
  .main-nav {
    display: none;
  }
  .toggle {
    display: block;
  }
}
