@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$darker-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);

.page {
  font-family: "Overpass", sans-serif;
  width: 100%;
  min-height: 100vh;
  max-width: 2000px;
  overflow: hidden;
  font-family: "Karla", sans-serif;
}
