@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$dark-blue-bg: hsl(233, 47%, 7%);
$dark-saturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$transparent-white-stats: hsla(0, 0%, 100%, 0.6);

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-blue-bg;
  line-height: 1.3;

  .card {
    max-width: 1080px;
    min-width: 280px;
    display: flex;
    align-items: center;
    background-color: $dark-saturated-blue;

    .content {
      width: 50%;
      max-height: 100%;
      padding-left: 3rem;
      padding-right: 4.5rem;

      p {
        color: $transparent-white;
        margin-top: 0;
        margin-bottom: 2rem;
        opacity: 0.8;
        line-height: 1.4;
        width: 90%;
      }

      .achievements {
        padding: 0;
        margin: 0;
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 90%;

        li {
          h2 {
            margin-bottom: 0.25rem;
          }
          span {
            color: $transparent-white-stats;
            letter-spacing: 1px;
            font-size: 0.75rem;
            font-family: "Inter";
          }
        }
      }

      h1,
      h2 {
        color: $white;
        font-family: "Lexend Deca";
      }

      h1 {
        font-size: 2.4rem;
        margin-top: 0;
        margin-bottom: 1.5rem;
        span {
          color: $soft-violet;
        }
      }
    }

    .img {
      width: 50%;
      height: 100%;
      min-height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        min-height: 100%;
        display: block;
      }

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: hsla(277, 64%, 61%, 0.5);
      }
    }
  }
}

@media (max-width: 1024px) {
  .page {
    .card {
      flex-direction: column;
      width: 400px;

      .content {
        order: 2;
        width: 100%;
        padding: 2.5rem;
        text-align: center;
        p,
        .achievements {
          width: 100%;
        }
        p {
          font-size: 1.1rem;
        }
      }

      .img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 40rem) {
  .page {
    .card {
      .content {
        .achievements {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
