.card {
  background: url("../../assets/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
  color: hsl(167, 40%, 24%);
  font-family: "Fraunces";

  h2 {
    margin-bottom: 1.75rem;
    font-weight: 900;
  }

  p {
    max-width: 23rem;
    text-align: center;
    line-height: 1.5;
    font-size: 0.95rem;
  }
}

.photography {
  background-image: url("../../assets/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg");
  color: hsl(198, 62%, 26%);
}

@media (max-width: 56.25em) {
  .card {
    p {
      max-width: 18rem;
    }
  }
}

@media (max-width: 47.5em) {
  .card {
    height: 35rem;
  }
}
