@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

// Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lighten($dark-grayish-red, 70%);
}

.card {
  background-image: url("../../assets/base-apparel-coming-soon-master/images/bg-pattern-desktop.svg");
  background-color: rgba(255, 247, 248, 0.74);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 70%;
  max-width: 1200px;
  font-family: "Josefin Sans";
}

.logo {
  position: absolute;
  top: 3rem;
  left: 8rem;
}

.body {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8rem;

  h1 {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    color: $dark-grayish-red;

    span:first-of-type {
      color: $desaturated-red;
      font-weight: 300;
    }
  }

  p {
    color: hsl(0, 36%, 70%);
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    max-width: 25rem;
  }

  .form-input {
    width: 90%;
    display: flex;
    position: relative;

    input {
      width: 100%;
      max-width: 20rem;
      padding: 0.75rem 1.25rem;
      padding-right: 2.5rem;
      border: 2px solid transparent;
      color: inherit;
      font: inherit;
      margin-right: -2.5rem;
      border: 2px solid rgba($desaturated-red, 0.5);
      border-radius: 100px;
    }

    input:focus {
      outline: none;
      background-color: lighten($desaturated-red, 25%);
    }

    .input-error {
      border: 2px solid red;
    }

    button {
      border: none;
      display: block;
      padding: 0.5rem 2.5rem;
      border-radius: 100px;
      background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
      cursor: pointer;

      img {
        display: block;
      }

      &:hover {
        background-image: linear-gradient(
          to top,
          hsl(0, 80%, 86%),
          hsl(0, 74%, 74%)
        );
      }
    }

    .success,
    .error {
      position: absolute;
      font-weight: 600;
      top: 110%;
      left: 1rem;
    }

    .error {
      color: red;
    }
    .success {
      color: green;
    }
  }
}

.photo {
  width: 40%;
  display: block;
}

.photoMobile {
  display: none;
}

@media (max-width: 1400px) {
  .card {
    width: 85%;
  }
  .logo {
    top: 2rem;
    left: 5rem;
  }

  .content {
    padding-left: 5rem;
    padding-right: 4rem;
    p {
      width: 70%;
    }
  }
}

@media (max-width: 1020px) {
  .card {
    padding-bottom: 3rem;
    padding-top: 2rem;
    width: 30rem;
    margin: 0 1rem;
  }

  .logo {
    position: static;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
  }

  .body {
    flex-direction: column;
  }

  .content {
    text-align: center;
    align-items: center;
    padding: 0;

    .form-input {
      justify-content: center;
      align-items: stretch !important;

      button {
        padding: 0.5rem 2rem;
      }
    }
  }

  .photoMobile {
    display: block;
    order: -1;
  }

  .photo {
    display: none;
  }
}
