.buttons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.4rem 0;

  li {
    float: left;
    width: 3rem;
    height: 3rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    label,
    input {
      transition: all 0.2s;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 3rem;
    }

    label {
      cursor: pointer;
      z-index: 90;
      background-color: lighten(hsl(213, 19%, 18%), 5%);
      color: hsl(217, 12%, 63%);
    }

    input[type="radio"] {
      opacity: 0.011;
      z-index: 100;
    }

    label:hover {
      background-color: hsl(217, 12%, 63%);
      color: hsl(0, 0%, 100%);
    }

    input[type="radio"]:checked + label {
      background-color: hsl(25, 97%, 53%);
      color: hsl(0, 0%, 100%);
    }
  }
}
