.home {
  background-color: hsl(218, 44%, 22%);
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: #ffffff;

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem 1rem;
    width: 60%;

    li {
      &:hover {
        color: yellow;
      }
      a {
        text-decoration: none;
        font: inherit;
        color: currentColor;
        display: block;
      }
    }
  }
}
