@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Spartan", sans-serif;
  background-color: $light-grayish-magenta;
  line-height: 1.5;
}

.social-proof {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 5rem 8rem;
  width: 80%;
  max-width: 1400px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;

  .info {
    width: 40%;

    h1 {
      font-size: 2.5rem;
      line-height: 1.1;
      color: $very-dark-magenta;
      margin-bottom: 1rem;
    }

    p {
      color: $dark-grayish-magenta;
      font-weight: 700;
      font-size: 0.9rem;
      opacity: 0.85;
    }
  }

  .media-reviews {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
    flex: 1;

    > div:nth-child(1) {
      // align-self: flex-start;
      margin-right: 6rem;
    }
    > div:nth-child(2) {
      margin-right: 3rem;
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  div:nth-child(2) {
    margin-top: 2rem;
  }
  div:nth-child(3) {
    margin-top: 4rem;
  }
}

@media (max-width: 1300px) {
  .social-proof {
    padding: 4rem 3rem;
    max-width: 95%;
    flex: 1;

    .media-reviews {
      > div:nth-child(1) {
        // align-self: flex-start;
        margin-right: 0;
      }
      > div:nth-child(2) {
        margin-right: 0;
      }
    }

    .bottom {
      div:nth-child(2) {
        margin-top: 0;
      }
      div:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 766px) {
  .social-proof {
    padding: 2rem 1rem;
  }

  .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info {
      width: auto;
      flex-grow: 1;
      text-align: center;
      margin-bottom: 1rem;
    }

    .media-reviews {
      width: 100%;
      text-align: center;
    }
  }

  .bottom {
    flex-direction: column;
  }
}
